{% extends "AppBundle::base.html.twig" %}

{% block title %}LípaPije.cz - nejlepší hospody českolipska na jednom místě{% endblock %}

{% block body %}
    <div class="parallax-container valign-wrapper" style="height: 600px;">
        <div class="parallax">
            {% image '@AppBundle/Resources/img/foto/skybeer.jpg' %}
            <img src="{{ asset_url }}" alt="lipapije.cz" />
            {% endimage %}
        </div>
        <div class="valign center-block center-align">
            <h1>LípaPije.cz</h1>
            <h3>buďte u té nejlepší pípy</h3>

        </div>

    </div>


    <div class="overpage">  
        <div class="container">
            <div class="row">
                {% for hospoda in hospody %}


                    <div class="pub-card-wrapper col s12 m6 l4 ">
                        <div class="pub-card">
                            <h4 class="center-align">{{ hospoda.jmeno }} </h4>
                            <h5 class="center-align">{{ hospoda.adresa}} - {{ hospoda.lokace.jmeno }} <i class="material-icons">place</i></h5>
                            <table class="rank-table">
                                <tbody>
                                    <tr>
                                        <td><h5><b>Obsluha</b></h5></td>
                                        <td>
                                            {% for i in 1..5 %}
                                                {% if hospoda.obsluha >= i%}
                                                    <span class="star-full"></span>
                                                {% else %}
                                                    <span class="star-empty"></span>
                                                {% endif %}

                                            {% endfor %}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h5><b>Prostředí</b></h5></td>
                                        <td>
                                            {% for i in 1..5 %}
                                                {% if hospoda.prostredi >= i %}
                                                    <span class="star-full"></span>
                                                {% else %}
                                                    <span class="star-empty"></span>
                                                {% endif %}
                                            {% endfor %}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h5><b>Celkem</b></h5></td>
                                        <td>
                                            {% for i in 1..5 %}
                                                {% if hospoda.celkem >= i %}
                                                    <span class="star-full"></span>
                                                {% else %}
                                                    <span class="star-empty"></span>
                                                {% endif %}
                                            {% endfor %}

                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <h5 class="popis">{{ hospoda.popis }}</h5>


                            <table class="piva">
                                <tbody>
                                    {% for pivo in hospoda.piva %}
                                        <tr><td><h5 class="nazevPiva">{{ pivo.znacka.nazev }}</h5></td><td><h5>{{ pivo.cena }},-</h5></td></tr>
                                            {% endfor %}
                                </tbody>
                            </table>


                            <div class="atrakce">
                                {% for atrakce in hospoda.atrakce %}
                                    <i class="material-icons">{{atrakce.icon}}</i>
                                {% endfor %}
                            </div>


                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>

        <a class="waves-effect waves-light btn-large big-center-button" href="{{url('hospody')}}"><i class="material-icons left">clear_all</i>Všechny hospody</a>
    </div> 



    <div class="parallax-container valign-wrapper" style="height: 600px;">
        <div class="parallax">
            {% image '@AppBundle/Resources/img/foto/skybeer.jpg' %}
            <img src="{{ asset_url }}" alt="lipapije.cz" />
            {% endimage %}
        </div>
        <div class="valign center-block center-align">
            <h1>LípaPije.cz</h1>
            <h3>buďte u té nejlepší pípy</h3>

            <!--<a class="waves-effect waves-light btn-large"><i class="material-icons left">shopping_cart</i>Chci výhodně nakoupit</a>-->
        </div>

    </div>


    <script>
        $(function () {
            $('.parallax').parallax();
        });

    </script>

{% endblock %}
